@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
*{
margin: 0;
padding: 0%;
box-sizing: border-box;
text-decoration:none ;
}
body{
    font-size: 100%;
    background:linear-gradient(68.15deg,#2F2325 16.62%,#8E5D52 85.61%);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom:0.4px solid #FFF2E7;
}
#logo{
    height: 64px;
    cursor: pointer;
}
.cabecalho-menu{
    display: flex;
    gap: 64px;
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFF2E7;
}
.cabecalho-menu-item{
    text-decoration: none;
    color: #ecd6c4;
}

.cabecalho-menu-lista{
    list-style: nome;
    display: inline;
    margin: 20px;
}
.conteudo{
    margin-bottom: 48px;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#conteudo-principal-titulo{
    font-family: 'righteous',cursive;
    color: #ecd6c4;
    font-size: 64px;
    font-weight: 400;
}
.conteudo-principal-subtitulo{
    font-family:'sarala', sans-serif;
color: #ecd6c4; 
font-size: 24px;
font-weight: 400;
}
.conteudo-principal-btn{  
    background-color: #ecd6c4;
    height: 64px;
    width: 185px;
    border-radius: 20px;
    box-shadow:4px 5px 4px 0 #00000040;
    border: none;
    font-family: 'sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2F2325;
}
.conteudo-principal-btn:hover{
    background-color: #fff2ef
}
.conteudo-secundario{
display: flex;
Flex-direction:column;
align-items: center;
gap: 24px;
margin-top: 48px;
}
.conteudo-secundario-titulo{
    border-top:0.4 solid #FFF2E7;
   padding-top: 48px;
   color: #FFF2E7;
   font-size: 24px;
   font-weight: 400;
}
.conteudo-secundario-escrito{
font-size:'SARALA',sans-serif;
font-weight: 700''''''''''''''''''''''''''''''''';
font-size: 18px;
color: #ecd6c4;
}
.rodape{
display: flex;
flex-direction: column;
text-align: center;
gap: 24px;
border-top:0.4px solid #FFF2E7
}
.rodape-imagem{
    height: 70px;
}
.desenvolvedor{
    color:#ecd6c4;
    font-family: 'sarala';sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top:  48px; ;
}